<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Start of Required Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- End of Required Meta Tags -->
    <!-- Start of Meta Tags -->
    <title>BeardieGames | Index</title>
    <!-- End of Meta Tags -->
    <!-- Start of Styling -->
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/index.css">
    <!--   <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <!-- Start of page specific styles -->
    <link rel="stylesheet" href="/static/css/index.css">
    <!-- End of page specific styles -->
    <!--Scripts-->
    <script src="/static/js/lib/vue.js"></script>
    <script src="/static/js/lib/jquery-2.2.3.min.js"></script>
    <!--End of Scripts-->
</head>
  <!-- Start of Body -->
  <body>
      <h1> Welcome To BeardieGames</h1>
      <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#Library">Game Library</a></li>
          <li><a href="#tutorials">Video Tutorials</a></li>
          <li><a href="#strategies"></a></li>
          <li><a href="#about">About Us</a></li>
      </ul>
      
  </body>
  <!--End of Body-->
</html>

